@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* General class */
/* font-family: Saily and Romantic*/
@font-face{
  font-family: Saily;
  src: url('./fonts/Saily/Sailyme.ttf');
}
@font-face {
  font-family: Romantic;
  src: url('./fonts/Romantic/RomanticLovely.ttf');
}


/* Jumbotron */
.home-bg {
    background-image: url('./assets/n-2.jpg');
}

/* Footer */
.footer {
  background-image: url('./assets/n-5.jpg');
}
@layer utilities {
  .section-title {
    @apply w-full py-0 px-4 text-center mb-[60px]
  }
  .section-title h2 {
    @apply text-4xl capitalize
  }
  .section-title h2::before {
    @apply text-xl block text-mainColor font-normal pb-3 content-[attr(data-title)] font-saily
  }
  .row {
    @apply flex flex-col lg:flex-row
  }

  /* ========Works Section======= */
  .worksHead {
    @apply flex gap-3 items-center pb-3 text-mainColor text-2xl
  }
  .worksContent {
    @apply text-lg
  }
}